%blockquote
  %p
    = comment.body
    = link_to '(Destroy Comment)', [comment.article, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link'
  %footer
    by
    = comment.commenter
